*{
  padding: 0;
  margin: 0;
}





.container{
  margin-top: 140px;
}
.from{
  text-align: center; 
}
.head_title{
  padding-top: 42px;
  padding-bottom: 5px;
}
.paratitle{
  padding-bottom: 45px;
}
.reginput{
  padding-bottom: 30px;
}
.input{
  width: 393px;
  margin: 30px;
}
.button{
  padding: 1em;
		background: #086FA4;
		color: hsl(0, 0%, 100%);
		border: none;
		border-radius: 30px;
		font-weight: 600;
    width: 400px;
    
}